dconf
discord
Electron
entagledworlds
fvm
gh
gitui
go
goa-1.0
godot
gtk-3.0
gtk-4.0
nwg-look
pulse
QtProject
QtProject.conf
REAPER
user-dirs.dirs
user-dirs.locale
wal
xsettingsd
obs-studio
quickshell-examples
VSCodium
session
cava
dolphinrc
ow-electron
flutter
lunarclient
mimeapps.list

